 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/algorithm-bias.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 471px;
}

.u-section-1 .u-text-1 {
  margin: 153px auto 0;
}

.u-section-1 .u-text-2 {
  width: 826px;
  font-weight: 700;
  margin: 37px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 388px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 297px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 223px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 140px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 756px;
}

.u-section-2 .u-text-1 {
  margin: 41px auto 0 285px;
}

.u-section-2 .u-form-1 {
  height: 592px;
  width: 570px;
  margin: 42px auto;
}

.u-section-2 .u-form-group-1 {
  width: 100%;
}

.u-section-2 .u-input-1 {
  box-shadow: 0 0 8px 0 rgba(128,128,128,1);
}

.u-section-2 .u-form-group-2 {
  margin-left: 0;
}

.u-section-2 .u-input-2 {
  box-shadow: 0 0 8px 0 rgba(128,128,128,1);
}

.u-section-2 .u-form-group-3 {
  width: 100%;
}

.u-section-2 .u-input-3 {
  box-shadow: 0 0 8px 0 rgba(128,128,128,1);
}

.u-section-2 .u-form-group-4 {
  width: 100%;
}

.u-section-2 .u-input-4 {
  box-shadow: 0 0 8px 0 rgba(128,128,128,1);
}

.u-section-2 .u-form-group-5 {
  width: 100%;
}

@media (max-width: 1199px) {
  .u-section-2 .u-form-group-2 {
    width: 100%;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: 218px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-left: 164px;
  }

  .u-section-2 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-left: 103px;
  }

  .u-section-2 .u-form-1 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 417px;
}

.u-section-3 .u-text-1 {
  margin: 3px auto 0 285px;
}

.u-section-3 .u-form-1 {
  height: 407px;
  width: 570px;
  margin: 45px auto 60px;
}

.u-section-3 .u-input-1 {
  box-shadow: 0 0 8px 0 rgba(128,128,128,1);
}

.u-section-3 .u-form-group-2 {
  margin-left: 0;
}

.u-section-3 .u-input-2 {
  box-shadow: 0 0 8px 0 rgba(128,128,128,1);
}

.u-section-3 .u-btn-1 {
  border-style: none;
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-left: 218px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-left: 164px;
  }

  .u-section-3 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-left: 103px;
  }

  .u-section-3 .u-form-1 {
    width: 340px;
  }
}